
html,body{
background-color: gray;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 400px;
margin-top: auto;
margin-bottom: auto;
width: 500px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.body-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    padding: 10px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr ;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 5px;
    justify-items: center;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

label{
color: white;
}

.preference{
    font-size: 10px;
    color: #d3d3d3;
}

.submit_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.submit_btn:hover{
color: black;
background-color: white;
}

